* {
  margin: 0px;
  padding: 0px;
}

:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: #2e2f4266;
  --hero-background-color: #2e2f42b2;
  --white-background-color: #ffffff;
  --modal-background-color: #fcfcfc;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--white-background-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header-top {
  border-bottom: 1px solid var(--accent-color);
}
.header-container {
  display: flex;
  flex-direction: row; /*zaczyna od lewej i kończy po prawej*/
  justify-content: space-between; /*równomiernie rozmieszczone*/
  height: 72px;
}

.nav {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.logo-header {
  color: var(--primary-brand-color);
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 76px;
}

.link {
  text-decoration: none;
}

.logo-studio {
  color: var(--dark-color);
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.list-header {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  padding-bottom: 24px;
  padding-top: 24px;
}

.address-list {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-description {
  color: var(--dark-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.page-description:hover {
  color: var(--pressed-state-color);
}

.page-description:focus {
  color: var(--pressed-state-color);
}

.address {
  font-style: normal;
}

.contact {
  color: var(--text-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact:hover {
  color: var(--pressed-state-color);
}

.contacts:focus {
  color: var(--pressed-state-color);
}

.section-main {
  color: var(--white-background-color);
  padding: 188px 0;
  max-width: 1440px;
  margin: auto;
  background-size: cover;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-in-office.jpg);
}

.main-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  text-align: center;
  margin: auto;
}

.main-button {
  background-color: var(--primary-brand-color);
  color: var(--white-background-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  text-align: center;
  padding: 16px 32px;
  margin: auto;
  margin-top: 48px;
  display: block;
}
.main-button:hover {
  background-color: var(--pressed-state-color);
}
.main-button:focus {
  background-color: var(--pressed-state-color);
}

.section-main-two {
  padding: 120px 0;
}

.head-title {
  color: var(--dark-color);
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 40px;
  letter-spacing: 0.72px;
  word-wrap: break-word;
  margin-bottom: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-goals {
  display: flex;
  gap: 24px;
}
.list-point-items {
  width: calc((100% - 72px) / 4);
}

.main-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  height: 112px;
  background-color: var(--light-color);
  border-radius: 4px;
}

.goal {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 8px;
}

.paragraph {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  box-sizing: content-box;
  text-align: left;
}

.section-main-three {
  padding-bottom: 120px;
}

.header {
  color: var(--dark-color);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.list-item {
  display: flex;
  gap: 24px;
}
.item-work {
  display: flex;
  gap: 24px;
}

.our-team {
  background-color: var(--light-color);
  padding: 120px 0;
}
.list-team {
  display: flex;
  gap: 24px;
}

.our-team-card {
  background-color: var(--white-background-color);
  color: var(--dark-color);
  border-radius: 0px 0px 4px 4px;
}
.team-card {
  padding: 32px 0px;
}
.paragraph-card {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  box-sizing: content-box;
  text-align: center;
}

.team-card-social {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
  list-style: none;
}
.team-card-social-items {
  width: 40px;
  height: 40px;
}
.team-card-social-items-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vector-team-socials {
  fill: var(--light-colord);
}
.footer {
  background-color: var(--dark-color);
  padding: 100px 0;
}

.logo-footer {
  color: var(--primary-brand-color);
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 76px;
  margin-bottom: 16px;
  display: inline-block;
  padding-top: 25.5px;
}

.logo-footer-span {
  color: var(--light-color);
}

.paragraph-footer {
  color: var(--light-color);
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  max-width: 264px;
}

.button {
  cursor: pointer;
  color: var(--primary-brand-color);
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section.list-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.list-filters {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-button {
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
}

.filter-button:hover {
  color: var(--white-background-color);
}
.filter-button:focus {
  color: var(--white-background-color);
}

.filter-button:hover {
  background-color: var(--pressed-state-color);
}
.filter-button:focus {
  background-color: var(--pressed-state-color);
}

.button-list {
  border-radius: 4px;
  border: 1px #e7e9fc solid;
  background-color: var(--light-color);
  color: var(--primary-brand-color);
  padding: 12px 24px;
}
.button-list:hover {
  border: 1px solid transparent;
}
.button-list:focus {
  border: 1px solid transparent;
}

.list-image-portfolio {
  width: calc((100% - 48px) / 3);
}

.list-options {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.containter-list-options {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.project-title-options {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}
.paragraph-options {
  text-align: left;
  color: var(--text-color);
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding: 120px 0; /*120px/16px=7,5em*/
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
